<!-- <div class="container-fluid navbar navbar-light bg-light">
    <div class="row  d-flex" style="width:100%;">
       
        
        
         Just an image and search-box
         <div class="col-md-1"></div> 
          <div class="col-6 col-md-3 ">
            <a class="navbar-brand" href="#">
              <img src="assets/images/verso-logo.png" width="90" height="80"   class="d-inline-block align-top " alt="">
             <h3> Verso</h3>
            </a>
           </div>
           
         <div class="col-4 col-md-6 d-flex align-items-center justify-content-center ">
           <div class="searchcomponent form-inline my-2 my-lg-0 d-flex">
             <input type="text" name="" id="" placeholder="Search by Title, Author, Content.." maxlength="250" autocomplete="off" class="inputbar d-flex form-control mr-sm-2" id="inputbar">
             <span class="search">
                <button type="button" id="btnTopSearch" class="btn pb-1 sprite search-btn justify-content-center" >
                    <i class="bi bi-search "></i>
                </button>
            </span>
        </div>

        </div>
        
        <div class="col-6 col-md-3 class=d-flex align-items-center justify-content-end">
           <ul class="list-inline m-0 signreflink position-relative">
              <li class="list-inline-item text-center loginpopupwrapper mt-2 mx-4">
                <i class="bi bi-heart person"></i>
              </li>
              <li class="list-inline-item text-center loginpopupwrapper mt-2 mx-3">
                <i class="bi bi-cart4 person"></i>
               </li>
               <li class="list-inline-item text-center loginpopupwrapper mt-2 mx-3">
                <i class="bi bi-person-circle person "></i>
            </li>
        </ul>
        

     </div>
     

    </div>
</div>  -->

<section class="bg-light">
  <div class="container ">
    <div _ngcontent-lfe-c17="" class="row d-flex top-bar">
      <div _ngcontent-lfe-c17="" class="col-2 col-md-1 d-block mt-2"><a _ngcontent-lfe-c17="" href="#"
          class="navbar-brand" style="
    height: unset;
    width: 100%;
"><img _ngcontent-lfe-c17="" src="assets/images/verso-logo.png" alt=""
            class="align-items-center justify-content-center logo" style="
    height: 100%;
    width: 110%;
"></a></div>
      <div _ngcontent-lfe-c17="" class="col-md-6 col-10 align-items-center mt-2 mb-2 mt-md-4 justify-content-center">
        <div _ngcontent-lfe-c17="" class="searchcomponent form-inline my-lg-0 d-flex"><input _ngcontent-lfe-c17=""
            type="text" name="" id="inputbar" placeholder="Search by Title, Author, Content.." maxlength="250"
            autocomplete="off" class="inputbar d-flex form-control mt-1 mr-sm-2"><span _ngcontent-lfe-c17=""
            class="search"><button _ngcontent-lfe-c17="" type="button" id="btnTopSearch"
              class="btn pb-1 sprite mt-1 search-btn justify-content-center"><i _ngcontent-lfe-c17=""
                class="bi bi-search"></i></button></span></div>
      </div>
      <div _ngcontent-lfe-c17="" class="col-md-4 d-md-block d-none d-lg-block d-xl-block icon">
        <ul _ngcontent-lfe-c17="" class="list-inline ml-5 signreflink position-relative">
          <li _ngcontent-lfe-c17="" class="list-inline-item text-center loginpopupwrapper mt-2 ml-5 mr-4"><i
              _ngcontent-lfe-c17="" class="bi bi-heart person"></i></li>
          <li _ngcontent-lfe-c17="" class="list-inline-item text-center loginpopupwrapper mt-3 mx-4"><i
              _ngcontent-lfe-c17="" class="bi bi-cart4 person"></i></li>
          <li _ngcontent-lfe-c17="" class="list-inline-item text-center loginpopupwrapper mt-3 mx-4"><i
              _ngcontent-lfe-c17="" class="bi bi-person-circle person"></i></li>
          <li _ngcontent-lfe-c17="" class="list-inline-item text-center loginpopupwrapper mb-2 mx-4"><button
              _ngcontent-lfe-c17="" type="button" class="btn btn-danger mb-3"> looog Tn </button></li>
        </ul>
      </div>
    </div>
  </div>
</section>
