<div class="container my-3">
    <div class="row">
        <div class="text-danger"><h4 style="font-weight: bold;">1.  Enter a new shipping address</h4></div>
    </div>
    <div class="row my-3">
        <div class="border p-4" style="border: 1px solid grey;">
                 <h3 style="font-weight: bold;">Add a new address</h3>

                 <form class="my-3">
                    <div class="form-group">
                      <label for="full_name">Full name:</label>
                      <input type="text" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                      <label for="mb_number">Mobile number</label>
                      <input type="number" class="form-control" id="mb_number">
                    </div>
                    <div class="form-group">
                      <label for="pin_code">Pin code</label>
                      <input type="number" class="form-control" id="pin_code">
                    </div>
                    <div class="form-group">
                      <label for="building">Flat,House no.,Building,Company,Apartment</label>
                      <input type="text" class="form-control" id="building">
                    </div>
                    <div class="form-group my-2">
                      <label for="building">Area,Street,Sector,Village </label>
                      <input type="text" class="form-control" id="building">
                    </div>
                    <div class="form-group my-2">
                      <label for="landmark">Landmark</label>
                      <input type="text" class="form-control" id="landmark" placeholder="E.g. near apollo hospital">
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox"> Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form>
        </div>
    </div>
</div>
