   <div class="container text-center mt-5 ">
     
     <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="card">
            <img src="assets/images/d.png" width="30" height="100" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
         </div>   
      </ng-template>  
      <ng-template carouselSlide>
        <div class="card ml-2">
            <img src="assets/images/c.png"  width="30" height="100" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
         </div>   
      </ng-template>  
      <ng-template carouselSlide>
        <div class="card">
            <img src="assets/images/free.png"  height="100" alt="">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
         </div>   
      </ng-template> 
      <ng-template carouselSlide>
        <div class="card">
            <img src="assets/images/new.png"  height="100" alt="" >
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
         </div>   
      </ng-template> 
      <ng-template carouselSlide>
        <div class="card">
            <img src="assets/images/book.png" width="30" height="100"alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
         </div>   
      </ng-template> 
      
     
      </owl-carousel-o>
   </div>                                                                  