<section class="my-5 pt-5">
    <div class="container">
        <div class="row text-center ">
           <h4>Books By Category</h4>
          
        </div>
        <div class="row my-4">
            <div class="col-md-2 cat justify-content-center text-center mx-auto pr-2">
               <img src="assets/images/childrens.png" width="60" height="60" alt="" >
               <br>
               <br>
               <h6>children's</h6>
            </div>
            <div class="col-md-2 cat text-center mx-auto">
                <img src="assets/images/fiction.png" width="60" height="60" alt="">
                <br>
                <br>
                <h6>Fiction/Non-Fiction</h6>
            </div>
            <div class="col-md-2 cat text-center mx-auto">
                <img src="assets/images/love.png" width="60" height="60" alt="">
                <br>
                <br>
                <h6>Love Stories</h6>
            </div>
            <div class="col-md-2 cat text-center mx-auto">
                <img src="assets/images/cooking.png" width="60" height="60" alt="">
                <br>
                <br>
                <h6>Cooking</h6>
            </div>
            <div class="col-md-2 cat justify-content-center text-center mx-auto">
                <img src="assets/images/classic.png" width="60" height="60" alt="" class="mx-auto">
                <br>
                <br>
                <h6>Classic</h6>
             </div>
             <div class="col-md-2 justify-content-center text-center mx-auto">
                <img src="assets/images/poems.png" width="60" height="60" alt="" class="mx-auto">
                <br>
                <br>
                <h6>Poems</h6>
             </div>
             <div class="row mt-5">

             </div>
           
             </div>
        </div>
    
</section>
