<section class="bg-light">
    <div class="container-fluid">
        <div class="row mx-4">
            <div class="col-md-8 mt-2">
                <div class="row cart-box p-3 my-3 bg-white col-box">
                    <div class="col-md-12">
                        <div class="  text-danger text-center">Shopping Cart</div>
                    </div>

                </div>
                <div class="row cart-box p-3 mb-2 bg-white cart-h">
                    <div class="col-md-8">
                        <div class="  text-dark text-left">From Saved Addresses</div>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-dlvry  text-warning">Enter Delivery Pincode </button>


                    </div>
                </div>
                <div class="row  p-3 mb-2 bg-white cart-box ">
                    <div class="row" style="border-bottom: 1px solid lightgrey;" *ngFor="let item of cartList">
                        <div class="col-3">
                            <div class="row">
                                <img src="assets/images/{{item.productData.bookImage}}" alt="">
                            </div>
                            <div class="row d-flex my-3 ">
                                <div class="col-4 ">
                                    <button class="text-center" style="border: 1px solid grey; font-weight: bold;"
                                        (click)="decreaseQuantity(item.id)">-</button>
                                </div>
                                <div class="col-4">
                                    <div class="text-center" style="border: 1px solid grey;">{{item.quantity}}</div>
                                </div>

                                <div class="col-4">
                                    <button class="text-center" style="border: 1px solid grey;font-weight: bold;"
                                        (click)="increaseQuantity(item.id)">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <div class="py-1" style="font-size: 23px;">{{item.productData.name}}</div>
                                <div class="py-1">
                                    <h6>by {{item.productData.author}}</h6>
                                </div>
                                <div class="py-1">
                                    <h6>{{item.productData.name}}</h6>
                                </div>
                                <div class="py-2 text-success">
                                    <h4 class="py-3"
                                        style="font-weight: bold;border-bottom: 1px solid lightgray; border-top: 1px solid lightgray ;">
                                        Available</h4>
                                </div>
                                <div class="py-1 text-danger">
                                    <h6>Delivery by sat jan 7</h6>
                                </div>
                                <div class="py-1">
                                    <h6>Free Delivery</h6>
                                </div>
                            </div>
                            <div class="row d-flex my-2">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                    <button class="btn btn-outline-warning me-md-2" type="button"
                                        (click)="delete(item.id)">Delete</button>
                                    <button class="btn btn-outline-warning" type="button">Save for later</button>
                                </div>
                                <!-- <div class="col-3">
                        <button class="btn">Delet</button>
                        </div>
                        <div class="col-4">
                        <button class="btn">Save for later</button>
                        </div> -->
                            </div>

                        </div>
                        <div class="col-2">
                            <div class="pl-2">
                                <h2>$ {{item.productData.bookPrize}}</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row  p-3 mb-2 bg-white cart-box ">
                    <div class="col-4"></div>
                    <button class=" col-4 py-3 btn btn-danger" [routerLink]="'/buyProduct'">PLACE ORDER</button>
                </div>


            </div>


            <div class="col-md-3 mt-2 mx-3 vertical-nav ">
                <div class="row cart-box p-3 mt-3 bg-white col-box">
                    <span class="prizehd text-center ">Prize Details</span>
                </div>
                <div class="row  p-3 mb-3 bg-white cart-box col-box">
                    <div class="row cart-h my-1 ">
                        <div class="col-9">Prize(1 items)</div>

                        <div class="col-3">$2,341</div>
                    </div>
                    <div class="row my-1 cart-h">
                        <div class="col-9">Discount</div>

                        <div class="col-3">$ 371</div>
                    </div>
                    <div class="row my-1 cart-h">
                        <div class="col-9">Delivery Charges</div>

                        <div class="col-3">$ 27</div>
                    </div>
                    <div class="row my-4 py-3 mx-1 prizehd "
                        style="font-size: 18px; border-bottom: 1px solid lightgray;border-top: 1px solid lightgray;">
                        <div class="col-8">Total Amount</div>

                        <div class="col-4">$ 2,907</div>
                    </div>
                    <div class="row text-success" style="font-size: 17px;">You will save $371 on this order</div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div style="color: rgb(112, 110, 110);"><i class="bi bi-shield-fill-check"></i>Safe and Secure
                            Payments Easy returns 100% Authentic products.</div>
                    </div>
                </div>
            </div>



        </div>
    </div>

</section>