<section >
  <nav class="navbar navbar-expand-lg navbar-light bg-light header-nav ">
    <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid menu_bar fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active text-dark ">
          <a class="nav-link " href="#">New Arrivals</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Rent a Book</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">New Arrivals</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
            Books catogory
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Used Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Rare Collections</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">ChildrenStory</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#"> Fiction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">StoryBook</a>
          </li>
          <li class="nav-item">
            <i class="fa-solid robort fa-robot"></i>
          </li>
      </ul>
    </div>
   </div>
 </nav>
</section>