<section class="bg-light" > 
           
            <div class="about-us-section bg-light mt-5">
                <div class="container mt-3">
                    <div class="row d-flex">
                        <div class="col-12 col-lg-6 mb-4 mb-lg0">
                            <div class="img-head">
                                <img src="assets/images/db1.webp" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 backgrnd" >
                           
                            <h3 class="text-head" style="font-family:Mier bold">Lowest Prices <br>
                                Best Quality Shopping</h3>
                                <div class="break-small ">
                                    <p class="text-para">Lorem ipsum dolor sit, minima aliquam harum iste repellendus sed asperiores placeat eaque vitae atque!</p>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-12 col-md-4 mb-2 mb-md-0">
                                        <div class="box">
                                            <img src="assets/images/fd.png" width="40" height="40" alt="">
                                            <!-- <i class="fa-sharp fa-solid fa-truck-bolt mb-3"></i> -->
                                            <h6 class="mb-0">Free Delivery</h6>
                                            
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 mb-2 mb-md-0">
                                        <div class="box">
                                            <img src="assets/images/cd.png"   width="40" height="40" alt="">
                                            <!-- <i class="fa-sharp fa-solid fa-truck-bolt mb-3"></i> -->
                                            <h6 class="mb-0">Cash Delivery </h6>
                                            
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 mb-2 mb-md-0">
                                        <div class="box">
                                            <img src="assets/images/er.png" width="40" height="40" alt=""> <br>
                                            <!-- <i class="fa-sharp fa-solid fa-truck-bolt mb-3"></i> -->
                                            <h6 class="mb-0">Easy Returns</h6>
                                            
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>   
</section>
