<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-search-nav></app-search-nav>
      
    </div>
    <div class="col-md-12">
      <app-navbar></app-navbar>
    </div>
    
    <div class="col-md-12">
      <app-offerbox></app-offerbox>
    </div>
    <div class="col-md-12">
      <app-main></app-main>
    </div>
    <!-- <div class="col-md-12">
      <app-iconpart></app-iconpart>
    </div> -->
    
     <div class="col-md-12">
      <app-verso-feature></app-verso-feature>
    </div>
    <div class="col-md-12">
       <app-card-section></app-card-section>
    </div>
   
    <div class="col-md-12">
      <app-new-arrival></app-new-arrival>
    </div>
    <div class="col-md-12">
      <app-favorite></app-favorite>
    </div>
    <div class="col-md-12">
      <app-fiction></app-fiction>
    </div>
    <div class="col-md-12">
        <app-subpart1></app-subpart1>
    </div>
    <div class="col-md-12">
      <app-discount></app-discount>
  </div>
 
    
 
 </div>
</div>
