<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 backg">
                <img src="assets/images/cofee.jpg" width="100%" height="100%" alt="">
                <br><br>
            </div>
            <div class="row ">
                <div class="col-md-3 sidenav-bar">
                    <div class="row my-2 py-1">
                        <div class="col-12">
                            <img src="assets/images/food.jpg" width="100%" height="100%" alt="">

                        </div>
                    </div>
                    <div class="row my-3 py-3">
                    
                        <div class="col-12">
                            <img src="assets/images/cook6.jpg" width="100%" height="100%" alt="">
                         
                        </div>
                    </div>
                    <div class="row my-3 py-3">
                        <div class="col-12">
                            <img src="assets/images/cook4.webp" width="100%" height="100%" alt="">

                        </div>
                    </div>
                    <div class="row my-3 py-3">
                        <div class="col-12">
                            <img src="assets/images/baking.webp" width="100%" height="100%" alt="">

                        </div>
                    </div>
                    <div class="row my-3 py-3">
                        <div class="col-12">
                            <img src="assets/images/cook5.jpg" width="100%" height="100%" alt="">

                        </div>
                    </div>
                    <div class="row my-3 py-3">
                        <div class="col-12">
                            <img src="assets/images/foodv.gif" width="100%" height="100%" alt="">

                        </div>
                    </div>
                    <!-- <div class="vertical-nav bg-white" id="sidebar" >
                        <div class="py-4 px-4 mb-4 bg-light" >
                            <div class="media d-flex align-items-center">
                                <div class="media-body">
                                    <p class="font-weight-normal text-muted mb-0">Books for Rent</p>
                                </div>
                            </div>
                        </div>
                        <p class="text-grey font-weight-bold text-uppercase px-3 small pb-4 mb-0">Dashboard</p>
                        <ul class="nav flex-column bg-light mb-0 px-3 small pb-4 " >
                            <li class="nav-item px-3 small pb-4 mb-0">
                                <a href="" class="nav-link text-dark">about</a>
                            </li>
                            <li class="nav-item px-3 small pb-4 mb-0">
                                <a href="" class="nav-link text-dark">about</a>
                            </li>
                            <li class="nav-item px-3 small pb-4 mb-0">
                                <a href="" class="nav-link text-dark">about</a>
                            </li>
                            <li class="nav-item px-3 small pb-4 mb-0">
                                <a href="" class="nav-link text-dark">about</a>
                            </li>
                            <li class="nav-item px-3 small pb-4 mb-0">
                                <a href="" class="nav-link text-dark">about</a>
                            </li>
                            <li class="nav-item px-3 small pb-4 mb-0">
                                <a href="" class="nav-link text-dark">about</a>
                            </li>
                        </ul>
                    </div> -->
                </div>
                <div class="col-md-9 mt-5 ml-1 bg-white">
                      <div class="row ">
                        <div class="col-md-2 my-2" *ngFor="let book of books">
                            <div class="card my-3 cardss">
                                <div class="product-top" [routerLink]="'/bookDetails'" [state]="{book}">
                                    <img src="assets/images/{{book.bookImage}}" width="100%" height="100%" alt="">
                                      <div class="bookicones">
                                      <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                      <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                      <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                       </div>
                                  </div>
                     
                                  <div class="product-bottom text-center">
                                   <i class="bi bi-star-fill"></i>
                                   <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                   <i class="bi bi-star"></i>
                                   <h3>{{book.name}}</h3>
                                    <h5>{{book.bookPrize}}</h5>
                                  </div>
                              </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
  </section>