<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 backg">
                <img src="assets/images/cm.jpeg" width="100%" height="100%" alt="">
                <br><br>
            </div>
            <div class="row ">
                <div class="col-md-3 sidenav-bar" >
                    <div class="row">
                        <div class="col-12 my-4"><img src="assets/images/oc.gif" width="100%" height="100%" alt=""></div>
                    </div>
                    <div class="row">
                        <div class="col-12 my-4"><img src="assets/images/frnd.gif" width="100%" height="100%" alt=""></div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-12 mt-4"><img src="assets/images/offer1.gif" width="100%" height="100%" alt=""></div>
                    </div> -->
                    <div class="row my-2">
                        <div class="col-2"></div>
                        <div class="col-8 my-4"><img src="assets/images/chidren.jpg" width="100%" height="100%" alt=""></div>
                         <div class="col-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-12 my-4"><img src="assets/images/penguin.jpg" width="100%" height="100%" alt=""></div>
                    </div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8 my-4"><img src="assets/images/frnd.gif" width="100%" height="100%" alt=""></div>
                    </div>
                    


                    
                    <!-- <div class="vertical-nav bg-white" id="sidebar" >
                        <div class="py-4 px-4 mb-4 bg-light" >
                            <div class="media d-flex align-items-center">
                                <div class="media-body">
                                    <p class="font-weight-normal text-muted mb-0">Books for Rent</p>
                                </div>
                            </div>
                        </div>
                        <p class="text-grey font-weight-bold text-uppercase px-3 small pb-4 mb-0">Dashboard</p>
                        <ul class="nav flex-column bg-light mb-0 px-3 small pb-4 " >
                            <li class="nav-item px-3 small pb-4 mb-0">
                                <a href="" class="nav-link text-dark">about</a>
                            </li>
                            <li class="nav-item px-3 small pb-4 mb-0">
                                <a href="" class="nav-link text-dark">about</a>
                            </li>
                            <li class="nav-item px-3 small pb-4 mb-0">
                                <a href="" class="nav-link text-dark">about</a>
                            </li>
                            <li class="nav-item px-3 small pb-4 mb-0">
                                <a href="" class="nav-link text-dark">about</a>
                            </li>
                            <li class="nav-item px-3 small pb-4 mb-0">
                                <a href="" class="nav-link text-dark">about</a>
                            </li>
                            <li class="nav-item px-3 small pb-4 mb-0">
                                <a href="" class="nav-link text-dark">about</a>
                            </li>
                        </ul>
                    </div> -->
                </div>
                <div class="col-md-9 mt-5 ml-1 bg-white">
                    <app-book-list [books]="childrens_story"></app-book-list>

                     
                    <nav aria-label="...">
                        <ul class="pagination pagination-lg justify-content-center">
                          <li class="page-item">
                            <button  tabindex="-1" aria-disabled="true" (click)="prevPage()" *ngIf="pageNumber>1">Previous</button>
                          </li>
                          <!-- <li class="page-item"><a class="page-link" href="#"></a></li> -->
                          <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">{{pageNumber}}<span class="visually-hidden">(current)</span></a>
                          </li>
                          <!-- <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li> -->
                    
                          <li class="page-item">
                            <button  (click)="nextPage()">Next</button>
                          </li>
                        </ul>
                      </nav>

                      </div>
                </div>
            </div>
        </div>
    
</section>