<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 backg">
                <img src="assets/images/sub1.webp" width="100%" height="100%" alt="">
                <br><br>
            </div>
            <div class="row ">
                <div class="col-md-3 bg-light" style="border: 1px solid #1B234A;">
                    <div class="vertical-nav bg-white" id="sidebar" >
                        <div class="py-4 px-4 mb-4 bg-light" >
                            <div class="media d-flex align-items-center">
                                <div class="media-body">
                                    <p class="font-weight-normal text-muted mb-0">Books for Rent</p>
                                </div>
                            </div>
                        </div>
                        <p class="text-grey font-weight-bold text-uppercase px-3 small pb-4 mb-0">Dashboard</p>
                        <ul class="nav flex-column bg-light mb-0 px-3 small pb-4 " >
                            <li class="nav-item px-3 small pb-4 mb-0">
                                <a href="" class="nav-link text-dark">about</a>
                            </li>
                            <li class="nav-item px-3 small pb-4 mb-0">
                                <a href="" class="nav-link text-dark">about</a>
                            </li>
                            <li class="nav-item px-3 small pb-4 mb-0">
                                <a href="" class="nav-link text-dark">about</a>
                            </li>
                            <li class="nav-item px-3 small pb-4 mb-0">
                                <a href="" class="nav-link text-dark">about</a>
                            </li>
                            <li class="nav-item px-3 small pb-4 mb-0">
                                <a href="" class="nav-link text-dark">about</a>
                            </li>
                            <li class="nav-item px-3 small pb-4 mb-0">
                                <a href="" class="nav-link text-dark">about</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 mt-5 ml-1 bg-white">
                      <div class="row ">
                        <div class="col-md-2 ">
                            <div class="card">
                                <div class="product-top">
                                    <img src="assets/images/book82.webp" width="100%" height="100%" alt="">
                                      <div class="bookicones">
                                      <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                      <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                      <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                       </div>
                                  </div>
                     
                                  <div class="product-bottom text-center">
                                   <i class="bi bi-star-fill"></i>
                                   <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                   <i class="bi bi-star"></i>
                                   <h3>Fitss vfdsa</h3>
                                    <h5>$400</h5>
                                  </div>
                              </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card">
                                <div class="product-top">
                                    <img src="assets/images/book83.webp" width="100%" height="100%" alt="">
                                      <div class="bookicones">
                                      <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                      <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                      <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                       </div>
                                  </div>
                     
                                  <div class="product-bottom text-center">
                                   <i class="bi bi-star-fill"></i>
                                   <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                   <i class="bi bi-star"></i>
                                   <h3>Fitss vfdsa</h3>
                                    <h5>$400</h5>
                                  </div>
                              </div>
                        </div>

                        <div class="col-md-2">
                            <div class="card">
                                <div class="product-top">
                                    <img src="assets/images/book84.webp" width="100%" height="100%" alt="">
                                      <div class="bookicones">
                                      <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                      <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                      <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                       </div>
                                  </div>
                     
                                  <div class="product-bottom text-center">
                                   <i class="bi bi-star-fill"></i>
                                   <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                   <i class="bi bi-star"></i>
                                   <h3>Fitss vfdsa</h3>
                                    <h5>$400</h5>
                                  </div>
                              </div>
                        </div>

                        <div class="col-md-2">
                            <div class="card">
                                <div class="product-top">
                                    <img src="assets/images/book85webp.webp" width="100%" height="100%" alt="">
                                      <div class="bookicones">
                                      <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                      <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                      <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                       </div>
                                  </div>
                     
                                  <div class="product-bottom text-center">
                                   <i class="bi bi-star-fill"></i>
                                   <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                   <i class="bi bi-star"></i>
                                   <h3>Fitss vfdsa</h3>
                                    <h5>$400</h5>
                                  </div>
                              </div>
                        </div>

                        <div class="col-md-2">
                            <div class="card">
                                <div class="product-top">
                                    <img src="assets/images/book86.webp" width="100%" height="100%" alt="">
                                      <div class="bookicones">
                                      <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                      <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                      <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                       </div>
                                  </div>
                     
                                  <div class="product-bottom text-center">
                                   <i class="bi bi-star-fill"></i>
                                   <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                   <i class="bi bi-star"></i>
                                   <h3>Fitss vfdsa</h3>
                                    <h5>$400</h5>
                                  </div>
                              </div>
                        </div>

                        <div class="col-md-2">
                            <div class="card">
                                <div class="product-top">
                                    <img src="assets/images/book87.webp" width="100%" height="100%" alt="">
                                      <div class="bookicones">
                                      <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                      <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                      <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                       </div>
                                  </div>
                     
                                  <div class="product-bottom text-center">
                                   <i class="bi bi-star-fill"></i>
                                   <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                   <i class="bi bi-star"></i>
                                   <h3>Fitss vfdsa</h3>
                                    <h5>$400</h5>
                                  </div>
                              </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-md-2 ">
                                <div class="card">
                                    <div class="product-top">
                                        <img src="assets/images/book88.webp" width="100%" height="100%" alt="">
                                          <div class="bookicones">
                                          <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                           </div>
                                      </div>
                         
                                      <div class="product-bottom text-center">
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                         <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                       <i class="bi bi-star"></i>
                                       <h3>Fitss vfdsa</h3>
                                        <h5>$400</h5>
                                      </div>
                                  </div>
                            </div>
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="product-top">
                                        <img src="assets/images/book89.webp" width="100%" height="100%" alt="">
                                          <div class="bookicones">
                                          <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                           </div>
                                      </div>
                         
                                      <div class="product-bottom text-center">
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                         <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                       <i class="bi bi-star"></i>
                                       <h3>Fitss vfdsa</h3>
                                        <h5>$400</h5>
                                      </div>
                                  </div>
                            </div>
    
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="product-top">
                                        <img src="assets/images/book90.webp" width="100%" height="100%" alt="">
                                          <div class="bookicones">
                                          <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                           </div>
                                      </div>
                         
                                      <div class="product-bottom text-center">
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                         <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                       <i class="bi bi-star"></i>
                                       <h3>Fitss vfdsa</h3>
                                        <h5>$400</h5>
                                      </div>
                                  </div>
                            </div>
    
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="product-top">
                                        <img src="assets/images/book91.webp" width="100%" height="100%" alt="">
                                          <div class="bookicones">
                                          <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                           </div>
                                      </div>
                         
                                      <div class="product-bottom text-center">
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                         <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                       <i class="bi bi-star"></i>
                                       <h3>Fitss vfdsa</h3>
                                        <h5>$400</h5>
                                      </div>
                                  </div>
                            </div>
    
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="product-top">
                                        <img src="assets/images/book92.webp" width="100%" height="100%" alt="">
                                          <div class="bookicones">
                                          <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                           </div>
                                      </div>
                         
                                      <div class="product-bottom text-center">
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                         <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                       <i class="bi bi-star"></i>
                                       <h3>Fitss vfdsa</h3>
                                        <h5>$400</h5>
                                      </div>
                                  </div>
                            </div>
    
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="product-top">
                                        <img src="assets/images/book93.webp" width="100%" height="100%" alt="">
                                          <div class="bookicones">
                                          <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                           </div>
                                      </div>
                         
                                      <div class="product-bottom text-center">
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                         <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                       <i class="bi bi-star"></i>
                                       <h3>Fitss vfdsa</h3>
                                        <h5>$400</h5>
                                      </div>
                                  </div>
                            </div>
                          </div>

                          <div class="row mt-5">
                            <div class="col-md-2 ">
                                <div class="card">
                                    <div class="product-top">
                                        <img src="assets/images/book94.webp" width="100%" height="100%" alt="">
                                          <div class="bookicones">
                                          <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                           </div>
                                      </div>
                         
                                      <div class="product-bottom text-center">
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                         <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                       <i class="bi bi-star"></i>
                                       <h3>Fitss vfdsa</h3>
                                        <h5>$400</h5>
                                      </div>
                                  </div>
                            </div>
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="product-top">
                                        <img src="assets/images/book95.webp" width="100%" height="100%" alt="">
                                          <div class="bookicones">
                                          <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                           </div>
                                      </div>
                         
                                      <div class="product-bottom text-center">
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                         <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                       <i class="bi bi-star"></i>
                                       <h3>Fitss vfdsa</h3>
                                        <h5>$400</h5>
                                      </div>
                                  </div>
                            </div>
    
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="product-top">
                                        <img src="assets/images/book96.webp" width="100%" height="100%" alt="">
                                          <div class="bookicones">
                                          <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                           </div>
                                      </div>
                         
                                      <div class="product-bottom text-center">
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                         <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                       <i class="bi bi-star"></i>
                                       <h3>Fitss vfdsa</h3>
                                        <h5>$400</h5>
                                      </div>
                                  </div>
                            </div>
    
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="product-top">
                                        <img src="assets/images/book97.webp" width="100%" height="100%" alt="">
                                          <div class="bookicones">
                                          <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                           </div>
                                      </div>
                         
                                      <div class="product-bottom text-center">
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                         <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                       <i class="bi bi-star"></i>
                                       <h3>Fitss vfdsa</h3>
                                        <h5>$400</h5>
                                      </div>
                                  </div>
                            </div>
    
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="product-top">
                                        <img src="assets/images/book98.webp" width="100%" height="100%" alt="">
                                          <div class="bookicones">
                                          <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                           </div>
                                      </div>
                         
                                      <div class="product-bottom text-center">
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                         <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                       <i class="bi bi-star"></i>
                                       <h3>Fitss vfdsa</h3>
                                        <h5>$400</h5>
                                      </div>
                                  </div>
                            </div>
    
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="product-top">
                                        <img src="assets/images/book99.webp" width="100%" height="100%" alt="">
                                          <div class="bookicones">
                                          <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                           </div>
                                      </div>
                         
                                      <div class="product-bottom text-center">
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                         <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                       <i class="bi bi-star"></i>
                                       <h3>Fitss vfdsa</h3>
                                        <h5>$400</h5>
                                      </div>
                                  </div>
                            </div>
                          </div>

                          <div class="row my-5">
                            <div class="col-md-2 ">
                                <div class="card">
                                    <div class="product-top">
                                        <img src="assets/images/book100.webp" width="100%" height="100%" alt="">
                                          <div class="bookicones">
                                          <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                           </div>
                                      </div>
                         
                                      <div class="product-bottom text-center">
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                         <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                       <i class="bi bi-star"></i>
                                       <h3>Fitss vfdsa</h3>
                                        <h5>$400</h5>
                                      </div>
                                  </div>
                            </div>
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="product-top">
                                        <img src="assets/images/book101.webp" width="100%" height="100%" alt="">
                                          <div class="bookicones">
                                          <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                           </div>
                                      </div>
                         
                                      <div class="product-bottom text-center">
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                         <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                       <i class="bi bi-star"></i>
                                       <h3>Fitss vfdsa</h3>
                                        <h5>$400</h5>
                                      </div>
                                  </div>
                            </div>
    
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="product-top">
                                        <img src="assets/images/book102.webp" width="100%" height="100%" alt="">
                                          <div class="bookicones">
                                          <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                           </div>
                                      </div>
                         
                                      <div class="product-bottom text-center">
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                         <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                       <i class="bi bi-star"></i>
                                       <h3>Fitss vfdsa</h3>
                                        <h5>$400</h5>
                                      </div>
                                  </div>
                            </div>
    
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="product-top">
                                        <img src="assets/images/book103.webp" width="100%" height="100%" alt="">
                                          <div class="bookicones">
                                          <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                           </div>
                                      </div>
                         
                                      <div class="product-bottom text-center">
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                         <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                       <i class="bi bi-star"></i>
                                       <h3>Fitss vfdsa</h3>
                                        <h5>$400</h5>
                                      </div>
                                  </div>
                            </div>
    
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="product-top">
                                        <img src="assets/images/book104.webp" width="100%" height="100%" alt="">
                                          <div class="bookicones">
                                          <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                           </div>
                                      </div>
                         
                                      <div class="product-bottom text-center">
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                         <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                       <i class="bi bi-star"></i>
                                       <h3>Fitss vfdsa</h3>
                                        <h5>$400</h5>
                                      </div>
                                  </div>
                            </div>
    
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="product-top">
                                        <img src="assets/images/book105.webp" width="100%" height="100%" alt="">
                                          <div class="bookicones">
                                          <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                          <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                           </div>
                                      </div>
                         
                                      <div class="product-bottom text-center">
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                         <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                       <i class="bi bi-star"></i>
                                       <h3>Fitss vfdsa</h3>
                                        <h5>$400</h5>
                                      </div>
                                  </div>
                            </div>
    
    
    
                          </div>


                      </div>
                </div>
            </div>
        </div>
    </div>
</section>