<!-- <section class="my-2">
    <div class="container ">
        <div class="row mt-1">
            <div class="col-12">
                 <h2 class="mt-1">Fiction</h2>
            </div>
        </div>
        <div class="row mt-3" >
              <div class="col-md-2">
                   <div class="product-top">
                    <img src="assets/images/book26.jpg" width="100%" height="100%" alt="" class="card-img-top">
                      <div class="bookicones">
                        <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                        <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                        <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                    </div>
                   </div>

                   <div class="product-bottom text-center">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <h3>Dan Brown</h3>
                    <h5>$270</h5>
                   </div>
              </div>

              <div class="col-md-2">
                <div class="product-top">
                 <img src="assets/images/book16.jpg" width="100%" height="100%" alt="" class="card-img-top">
                   <div class="bookicones">
                     <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                     <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                     <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                 </div>
                </div>

                <div class="product-bottom text-center">
                 <i class="bi bi-star-fill"></i>
                 <i class="bi bi-star-fill"></i>
                 <i class="bi bi-star-fill"></i>
                 <i class="bi bi-star-half"></i>
                 <i class="bi bi-star"></i>
                 <h3>It Ends With..</h3>
                 <h5>$214</h5>
                </div>
           </div>

           <div class="col-md-2">
            <div class="product-top">
             <img src="assets/images/book24.webp" width="100%" height="100%" alt="" >
               <div class="bookicones">
                 <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                 <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                 <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
             </div>
            </div>

            <div class="product-bottom text-center">
             <i class="bi bi-star-fill"></i>
             <i class="bi bi-star-fill"></i>
    
             <i class="bi bi-star-half"></i>
             <i class="bi bi-star"></i>
             <i class="bi bi-star"></i>
             <h3>Sandra Brown</h3>
             <h5>$190</h5>
            </div>
           </div>
           <div class="col-md-2">
             <div class="product-top">
               <img src="assets/images/book25.jpeg" width="100%" height="100%" alt="">
                 <div class="bookicones">
                 <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                 <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                 <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                  </div>
             </div>

             <div class="product-bottom text-center">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
               <i class="bi bi-star-half"></i>
             
              <i class="bi bi-star"></i>
              <h3>War Of Lanka</h3>
               <h5>$270</h5>
             </div>
            </div>
            <div class="col-md-2">
                <div class="product-top">
                  <img src="assets/images/book27.jpg" width="100%" height="100%" alt="">
                    <div class="bookicones">
                    <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                    <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                    <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                     </div>
                </div>
   
                <div class="product-bottom text-center">
                 <i class="bi bi-star-fill"></i>
                 <i class="bi bi-star-fill"></i>
                 <i class="bi bi-star-fill"></i>
                 <i class="bi bi-star"></i>
                 <i class="bi bi-star"></i>
                 <h3>Murakami</h3>
                  <h5>$156</h5>
                </div>
               </div>
               <div class="col-md-2">
                <div class="product-top">
                  <img src="assets/images/book23.jpg" width="100%" height="100%" alt="">
                    <div class="bookicones">
                    <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                    <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                    <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                     </div>
                </div>
   
                <div class="product-bottom text-center">
                 <i class="bi bi-star-fill"></i>
                 <i class="bi bi-star-fill"></i>
                   <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-half"></i>
                 <i class="bi bi-star"></i>
                 <h3>Wrong Place..</h3>
                  <h5>$140</h5>
                </div>
               </div>


       </div>
    </div>
</section>
 -->
 <section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12 backg">
              <img src="assets/images/sub1.webp" width="100%" height="100%" alt="">
              <br><br>
          </div>
          <div class="row ">
              <div class="col-md-3 bg-light" style="border: 1px solid #1B234A;">
                  <div class="vertical-nav bg-white" id="sidebar" >
                      <div class="py-4 px-4 mb-4 bg-light" >
                          <div class="media d-flex align-items-center">
                              <div class="media-body">
                                  <p class="font-weight-normal text-muted mb-0">Books for Rent</p>
                              </div>
                          </div>
                      </div>
                      <p class="text-grey font-weight-bold text-uppercase px-3 small pb-4 mb-0">Dashboard</p>
                      <ul class="nav flex-column bg-light mb-0 px-3 small pb-4 " >
                          <li class="nav-item px-3 small pb-4 mb-0">
                              <a href="" class="nav-link text-dark">about</a>
                          </li>
                          <li class="nav-item px-3 small pb-4 mb-0">
                              <a href="" class="nav-link text-dark">about</a>
                          </li>
                          <li class="nav-item px-3 small pb-4 mb-0">
                              <a href="" class="nav-link text-dark">about</a>
                          </li>
                          <li class="nav-item px-3 small pb-4 mb-0">
                              <a href="" class="nav-link text-dark">about</a>
                          </li>
                          <li class="nav-item px-3 small pb-4 mb-0">
                              <a href="" class="nav-link text-dark">about</a>
                          </li>
                          <li class="nav-item px-3 small pb-4 mb-0">
                              <a href="" class="nav-link text-dark">about</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-9 mt-5 ml-1 bg-white">
                    <div class="row ">
                      <div class="col-md-2 ">
                          <div class="card">
                              <div class="product-top">
                                  <img src="assets/images/book26.jpg" width="100%" height="100%" alt="">
                                    <div class="bookicones">
                                    <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                    <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                    <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                     </div>
                                </div>
                   
                                <div class="product-bottom text-center">
                                 <i class="bi bi-star-fill"></i>
                                 <i class="bi bi-star-fill"></i>
                                   <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-half"></i>
                                 <i class="bi bi-star"></i>
                                 <h3>Fitss vfdsa</h3>
                                  <h5>$400</h5>
                                </div>
                            </div>
                      </div>
                      <div class="col-md-2">
                          <div class="card">
                              <div class="product-top">
                                  <img src="assets/images/book27.jpg" width="100%" height="100%" alt="">
                                    <div class="bookicones">
                                    <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                    <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                    <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                     </div>
                                </div>
                   
                                <div class="product-bottom text-center">
                                 <i class="bi bi-star-fill"></i>
                                 <i class="bi bi-star-fill"></i>
                                   <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-half"></i>
                                 <i class="bi bi-star"></i>
                                 <h3>Fitss vfdsa</h3>
                                  <h5>$400</h5>
                                </div>
                            </div>
                      </div>

                      <div class="col-md-2">
                          <div class="card">
                              <div class="product-top">
                                  <img src="assets/images/book28.jpg" width="100%" height="100%" alt="">
                                    <div class="bookicones">
                                    <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                    <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                    <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                     </div>
                                </div>
                   
                                <div class="product-bottom text-center">
                                 <i class="bi bi-star-fill"></i>
                                 <i class="bi bi-star-fill"></i>
                                   <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-half"></i>
                                 <i class="bi bi-star"></i>
                                 <h3>Fitss vfdsa</h3>
                                  <h5>$400</h5>
                                </div>
                            </div>
                      </div>

                      <div class="col-md-2">
                          <div class="card">
                              <div class="product-top">
                                  <img src="assets/images/book29.jpg" width="100%" height="100%" alt="">
                                    <div class="bookicones">
                                    <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                    <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                    <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                     </div>
                                </div>
                   
                                <div class="product-bottom text-center">
                                 <i class="bi bi-star-fill"></i>
                                 <i class="bi bi-star-fill"></i>
                                   <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-half"></i>
                                 <i class="bi bi-star"></i>
                                 <h3>Fitss vfdsa</h3>
                                  <h5>$400</h5>
                                </div>
                            </div>
                      </div>

                      <div class="col-md-2">
                          <div class="card">
                              <div class="product-top">
                                  <img src="assets/images/book30.jpg" width="100%" height="100%" alt="">
                                    <div class="bookicones">
                                    <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                    <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                    <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                     </div>
                                </div>
                   
                                <div class="product-bottom text-center">
                                 <i class="bi bi-star-fill"></i>
                                 <i class="bi bi-star-fill"></i>
                                   <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-half"></i>
                                 <i class="bi bi-star"></i>
                                 <h3>Fitss vfdsa</h3>
                                  <h5>$400</h5>
                                </div>
                            </div>
                      </div>

                      <div class="col-md-2">
                          <div class="card">
                              <div class="product-top">
                                  <img src="assets/images/book13.jpg" width="100%" height="100%" alt="">
                                    <div class="bookicones">
                                    <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                    <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                    <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                     </div>
                                </div>
                   
                                <div class="product-bottom text-center">
                                 <i class="bi bi-star-fill"></i>
                                 <i class="bi bi-star-fill"></i>
                                   <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-half"></i>
                                 <i class="bi bi-star"></i>
                                 <h3>Fitss vfdsa</h3>
                                  <h5>$400</h5>
                                </div>
                            </div>
                      </div>

                      <div class="row mt-5">
                          <div class="col-md-2 ">
                              <div class="card">
                                  <div class="product-top">
                                      <img src="assets/images/book31.jpg" width="100%" height="100%" alt="">
                                        <div class="bookicones">
                                        <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                         </div>
                                    </div>
                       
                                    <div class="product-bottom text-center">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                      <i class="bi bi-star-half"></i>
                                     <i class="bi bi-star"></i>
                                     <h3>Fitss vfdsa</h3>
                                      <h5>$400</h5>
                                    </div>
                                </div>
                          </div>
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="product-top">
                                      <img src="assets/images/book32.jpg" width="100%" height="100%" alt="">
                                        <div class="bookicones">
                                        <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                         </div>
                                    </div>
                       
                                    <div class="product-bottom text-center">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                      <i class="bi bi-star-half"></i>
                                     <i class="bi bi-star"></i>
                                     <h3>Fitss vfdsa</h3>
                                      <h5>$400</h5>
                                    </div>
                                </div>
                          </div>
  
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="product-top">
                                      <img src="assets/images/book33.jpg" width="100%" height="100%" alt="">
                                        <div class="bookicones">
                                        <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                         </div>
                                    </div>
                       
                                    <div class="product-bottom text-center">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                      <i class="bi bi-star-half"></i>
                                     <i class="bi bi-star"></i>
                                     <h3>Fitss vfdsa</h3>
                                      <h5>$400</h5>
                                    </div>
                                </div>
                          </div>
  
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="product-top">
                                      <img src="assets/images/book34.jpg" width="100%" height="100%" alt="">
                                        <div class="bookicones">
                                        <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                         </div>
                                    </div>
                       
                                    <div class="product-bottom text-center">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                      <i class="bi bi-star-half"></i>
                                     <i class="bi bi-star"></i>
                                     <h3>Fitss vfdsa</h3>
                                      <h5>$400</h5>
                                    </div>
                                </div>
                          </div>
  
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="product-top">
                                      <img src="assets/images/book35.jpg" width="100%" height="100%" alt="">
                                        <div class="bookicones">
                                        <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                         </div>
                                    </div>
                       
                                    <div class="product-bottom text-center">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                      <i class="bi bi-star-half"></i>
                                     <i class="bi bi-star"></i>
                                     <h3>Fitss vfdsa</h3>
                                      <h5>$400</h5>
                                    </div>
                                </div>
                          </div>
  
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="product-top">
                                      <img src="assets/images/book36.webp" width="100%" height="100%" alt="">
                                        <div class="bookicones">
                                        <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                         </div>
                                    </div>
                       
                                    <div class="product-bottom text-center">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                      <i class="bi bi-star-half"></i>
                                     <i class="bi bi-star"></i>
                                     <h3>Fitss vfdsa</h3>
                                      <h5>$400</h5>
                                    </div>
                                </div>
                          </div>
                        </div>

                        <div class="row mt-5">
                          <div class="col-md-2 ">
                              <div class="card">
                                  <div class="product-top">
                                      <img src="assets/images/book37.webp" width="100%" height="100%" alt="">
                                        <div class="bookicones">
                                        <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                         </div>
                                    </div>
                       
                                    <div class="product-bottom text-center">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                      <i class="bi bi-star-half"></i>
                                     <i class="bi bi-star"></i>
                                     <h3>Fitss vfdsa</h3>
                                      <h5>$400</h5>
                                    </div>
                                </div>
                          </div>
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="product-top">
                                      <img src="assets/images/book38.webp" width="100%" height="100%" alt="">
                                        <div class="bookicones">
                                        <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                         </div>
                                    </div>
                       
                                    <div class="product-bottom text-center">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                      <i class="bi bi-star-half"></i>
                                     <i class="bi bi-star"></i>
                                     <h3>Fitss vfdsa</h3>
                                      <h5>$400</h5>
                                    </div>
                                </div>
                          </div>
  
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="product-top">
                                      <img src="assets/images/book21.jpg" width="100%" height="100%" alt="">
                                        <div class="bookicones">
                                        <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                         </div>
                                    </div>
                       
                                    <div class="product-bottom text-center">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                      <i class="bi bi-star-half"></i>
                                     <i class="bi bi-star"></i>
                                     <h3>Fitss vfdsa</h3>
                                      <h5>$400</h5>
                                    </div>
                                </div>
                          </div>
  
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="product-top">
                                      <img src="assets/images/book16.jpg" width="100%" height="100%" alt="">
                                        <div class="bookicones">
                                        <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                         </div>
                                    </div>
                       
                                    <div class="product-bottom text-center">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                      <i class="bi bi-star-half"></i>
                                     <i class="bi bi-star"></i>
                                     <h3>Fitss vfdsa</h3>
                                      <h5>$400</h5>
                                    </div>
                                </div>
                          </div>
  
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="product-top">
                                      <img src="assets/images/book56.jpg" width="100%" height="100%" alt="">
                                        <div class="bookicones">
                                        <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                         </div>
                                    </div>
                       
                                    <div class="product-bottom text-center">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                      <i class="bi bi-star-half"></i>
                                     <i class="bi bi-star"></i>
                                     <h3>Fitss vfdsa</h3>
                                      <h5>$400</h5>
                                    </div>
                                </div>
                          </div>
  
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="product-top">
                                      <img src="assets/images/book57.jpg" width="100%" height="100%" alt="">
                                        <div class="bookicones">
                                        <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                         </div>
                                    </div>
                       
                                    <div class="product-bottom text-center">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                      <i class="bi bi-star-half"></i>
                                     <i class="bi bi-star"></i>
                                     <h3>Fitss vfdsa</h3>
                                      <h5>$400</h5>
                                    </div>
                                </div>
                          </div>
                        </div>

                        <div class="row my-5">
                          <div class="col-md-2 ">
                              <div class="card">
                                  <div class="product-top">
                                      <img src="assets/images/book58.jpg" width="100%" height="100%" alt="">
                                        <div class="bookicones">
                                        <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                         </div>
                                    </div>
                       
                                    <div class="product-bottom text-center">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                      <i class="bi bi-star-half"></i>
                                     <i class="bi bi-star"></i>
                                     <h3>Fitss vfdsa</h3>
                                      <h5>$400</h5>
                                    </div>
                                </div>
                          </div>
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="product-top">
                                      <img src="assets/images/book59_.webp" width="100%" height="100%" alt="">
                                        <div class="bookicones">
                                        <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                         </div>
                                    </div>
                       
                                    <div class="product-bottom text-center">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                      <i class="bi bi-star-half"></i>
                                     <i class="bi bi-star"></i>
                                     <h3>Fitss vfdsa</h3>
                                      <h5>$400</h5>
                                    </div>
                                </div>
                          </div>
  
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="product-top">
                                      <img src="assets/images/book61.jpg" width="100%" height="100%" alt="">
                                        <div class="bookicones">
                                        <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                         </div>
                                    </div>
                       
                                    <div class="product-bottom text-center">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                      <i class="bi bi-star-half"></i>
                                     <i class="bi bi-star"></i>
                                     <h3>Fitss vfdsa</h3>
                                      <h5>$400</h5>
                                    </div>
                                </div>
                          </div>
  
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="product-top">
                                      <img src="assets/images/book5.jpg" width="100%" height="100%" alt="">
                                        <div class="bookicones">
                                        <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                         </div>
                                    </div>
                       
                                    <div class="product-bottom text-center">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                      <i class="bi bi-star-half"></i>
                                     <i class="bi bi-star"></i>
                                     <h3>Fitss vfdsa</h3>
                                      <h5>$400</h5>
                                    </div>
                                </div>
                          </div>
  
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="product-top">
                                      <img src="assets/images/book62.webp" width="100%" height="100%" alt="">
                                        <div class="bookicones">
                                        <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                         </div>
                                    </div>
                       
                                    <div class="product-bottom text-center">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                      <i class="bi bi-star-half"></i>
                                     <i class="bi bi-star"></i>
                                     <h3>Fitss vfdsa</h3>
                                      <h5>$400</h5>
                                    </div>
                                </div>
                          </div>
  
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="product-top">
                                      <img src="assets/images/book63.jpg" width="100%" height="100%" alt="">
                                        <div class="bookicones">
                                        <button type="button" class="btn btn-secondary space" title="Quick Shop"><i class="bi bi-eye-fill"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Wishlist"><i class="bi bi-heart"></i></button>
                                        <button type="button" class="btn btn-secondary space" title="Add to Cart"><i class="bi bi-cart-fill"></i></button>
                                         </div>
                                    </div>
                       
                                    <div class="product-bottom text-center">
                                     <i class="bi bi-star-fill"></i>
                                     <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                      <i class="bi bi-star-half"></i>
                                     <i class="bi bi-star"></i>
                                     <h3>Fitss vfdsa</h3>
                                      <h5>$400</h5>
                                    </div>
                                </div>
                          </div>
  
  
  
                        </div>


                    </div>
              </div>
          </div>
      </div>
  </div>
</section>
