/* body{
    font-family: 'poppins', sans-serif;

} */

.ctent{
    margin: 8%;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    border: 1px solid #FFC300;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ;
}
.signin-text{
    font-style: normal;
    font-weight: 600 !important;
}
.form-control{
    outline: none;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: solid #FFC300;
    border-width: 0 0 1px 0 !important;
    padding: 0px !important;
    color: #495057;
    border-radius: 0;
    height: auto;
    background-color: #fff;
    background-clip: padding-box;
    
}
.form-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}
.btn-class{
    border-color: #FFC300 !important;
    color: #FFC300 !important;
}
.btn-class:hover{
    background-color: #FFC300 !important;
    color: #fff !important;
}