<section class="bg-light px-3 py-5">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card shadow" style="width: 15rem;">
                    <img src="assets/images/card2.webp" class="card-img-top" alt="... " class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Books</h5>
                      <p class="card-text">Fill your bookshelves with used books, the latest bestsellers, collectible books and forgotten out-of-print titles from years gone by.</p>
                      <a href="#" class="btn  btn-warning">Shop Books....</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow" style="width: 15rem;">
                    <img src="assets/images/card3.webp" class="card-img-top" alt="... " class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Used Books</h5>
                      <p class="card-text">Fill your bookshelves with used books, the latest bestsellers, collectible books and forgotten out-of-print titles from years gone by.</p>
                      <a href="#" class="btn  btn-warning">Shop Books....</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow" style="width: 15rem;">
                    <img src="assets/images/card4.webp" class="card-img-top" alt="... " class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">New Arrivals</h5>
                      <p class="card-text">Fill your bookshelves with used books, the latest bestsellers, collectible books and forgotten out-of-print titles from years gone by.</p>
                      <a href="#" class="btn  btn-warning">Shop Books....</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">    <div class="card shadow" style="width: 15rem;">
                <img src="assets/images/card1.webp" class="card-img-top" alt="... " class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Rare Books</h5>
                  <p class="card-text">Fill your bookshelves with used books, the latest bestsellers, collectible books and forgotten out-of-print titles from years gone by.</p>
                  <a href="#" class="btn  btn-warning">Shop Books....</a>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
