<div class="section">
    <div class="container">
        <div class="row">
            
            <div class="col-md-4  my-5 px-5 py-5 bodr-img card ">
                <img src="assets/images/book63.jpg" width=" 100%" height="100%" alt="" >
            </div>
            <div class="col-md-7 py-2 px-4 my-5 ">
                <div class="container-fluid">
                    <div class="row ">
                        <h1 class="textt">The Boy in the Striped Pyjamas</h1>
                        <h5 class="text6 mt-3">By: <span class="textt-color"> JHON BOYNE </span>(Author)</h5>
                        <h6 class="text6 mt-3">Publisher: Silmon & Schuster Ltd</h6>
                        <h6 class="text6 mt-3">Relesed : March 14 2001</h6>

                        <div class="star mt-2">
                            <i class="bi bi-star-fill"></i>
                             <i class="bi bi-star-fill"></i>
                               <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-half"></i>
                             <i class="bi bi-star"></i>
                             <span style="color: rgb(92, 91, 91); font-size: 18px;"> | Write a Review</span>
                        </div>
                        <div class="row prize mt-4 py-1" style="border-bottom: 1px solid lightgray; border-top: 1px solid lightgray;">
                            <span class="textt-color py-3" ><h3>$324</h3></span>
                            <p style="color: rgb(92, 91, 91); font-size: 18px;">$421</p>
                        </div>
                        <div style="color: #FFC300; "><h5>Available</h5></div>
                        <p>Ships within  <span style="font-size: 20px; font-weight: bold;">2-4  Business Days</span></p>

                    </div>
                    <div class="row">
                        <button class="btn btn-danger btnd mt-2 py-2" [routerLink]="'/buyProduct'">Buy Now</button>
                        <button class="btn btn-warning btnw mt-3 py-2" [routerLink]="'/addtoCart'">Add to cart</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="row ">
            <div class="texabt">About The Book</div>
            <p>This remarkable book by Jhon Boyne, one of the pioneering voices of affirmative-thinking, will unlock for you the truly staggering powers of your subconscious mind.

                Combining time-honored spiritual wisdom with cutting edge scientific research, Dr. Murphy explains how the subconscious mind influences every single thing that you do and how, by understanding it and learning to control its incredible force, you can improve the quality of your daily life.
                 
                Everything, from the promotion that you wanted and the raise you think you deserve, to overcoming phobias and bad habits and strengthening interpersonal relationships, The Power of Your Subconscious Mind will open a world of happiness, success, prosperity and peace for you. It will change your life and your world by changing your beliefs.
                 </p>
                 <div class="texabt">About The Author</div>
                 <p>Jhon Boyne was a Divine Science minister and author.
                    Murphy was born in Ireland, the son of a private boy’s school headmaster and raised a Roman Catholic. He studied for the priesthood and joined the Jesuits. In his twenties, an experience with healing prayer led him to leave the Jesuits and move to the United States. Murphy has given lectures and written books for audiences all over the world. In his lectures he points out how real
                    people can radically improve their lives by applying specific aspects of his concepts.</p>
        </div>
    </div>
</div>
