<div class="section">
    <div class="container">
        <div class="row">
            
            <div class="col-md-4  my-5 px-5 py-5 bodr-img card ">
                <img src="assets/images/{{bookDetails.bookImage}}" width=" 100%" height="100%" alt="" >
            </div>
            <div class="col-md-7 py-2 px-4 my-5 ">
                <div class="container-fluid">
                    <div class="row ">
                        <h1 class="textt">{{bookDetails.name}}</h1>
                        <h5 class="text6 mt-3">By: <span class="textt-color"> {{bookDetails.author}}</span>&nbsp;(Author)</h5>
                        <h6 class="text6 mt-3">Publisher: {{bookDetails.publisher}}</h6>
                        <h6 class="text6 mt-3">Relesed Date:{{bookDetails.relesedDate}}</h6>

                        <div class="star mt-2">
                            <i class="bi bi-star-fill"></i>
                             <i class="bi bi-star-fill"></i>
                               <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-half"></i>
                             <i class="bi bi-star"></i>
                             <span style="color: rgb(92, 91, 91); font-size: 18px;"> | Write a Review</span>
                        </div>
                        <div class="row prize mt-4 py-1" style="border-bottom: 1px solid lightgray; border-top: 1px solid lightgray;">
                            <span class="textt-color py-3" ><h3 style="font-weight: bold;">{{bookDetails.bookPrize}}</h3></span>
                            <p style="color: rgb(92, 91, 91); font-size: 19px;">{{bookDetails.orginalBookPrize}}</p>
                        </div>
                        <div class="mt-2 text-success"><h5 style="font-weight: bold; ">{{bookDetails.bookStockDetails}}</h5></div>
                        <p>Ships within  <span style="font-size: 20px; font-weight: bold;">2-4  Business Days</span></p>

                    </div>
                    <div class="row">
                        <button class="btn btn-danger btnd mt-2 py-2" [routerLink]="'/buyProduct'" [state]="{bookDetails}">Buy Now</button>
                        <button class="btn btn-warning btnw mt-3 py-2" [routerLink]="'/addtoCart'" [state]="{bookDetails}">Add to cart</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="row ">
            <div class="texabt">About The Book</div>
                <p>{{bookDetails.aboutbook}}</p>
                 <div class="texabt">About The Author</div>
                 <p>{{bookDetails.aboutAuthor}}</p>
        </div>
    </div>
</div>
